* {
    box-sizing: border-box;
}

/*--------------intro start----------------*/
.intro {
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    z-index: 999;
}

.intro > .logo {
    width: 232px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    opacity: 70%;
    margin: auto;
}

#logo {
    width: inherit;
}

/*--------------intro end----------------*/


/*--------------main start----------------*/
main {
    width: 100%;
    position: relative;
}





/*--------------mainsec1 start----------------*/
.mainsec1 {
    width: 100%;
    background-image: url(../img/introbg.jpg);
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.mainsec1 > .logo {
    mix-blend-mode: color-burn;
    position: absolute;
    width: 1800px;
    top: -457px;
    opacity: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.mainsec1 > .introduce {
    width: 1492px;
    margin: auto;
    margin-top: 295px;
}

.mainsec1 > .introduce > p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin-left: -500px;
    opacity: 0;
    margin-bottom: 10px;
}

.mainsec1 > .introduce > p > b {
    font-weight: 700;
}

.typing-txt {
    display: none;
}

.typing {
    display: inline;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    font-size: 60px;
    line-height: 80px;
}

@keyframes cursor {
    0% {
        border-right: 3px solid rgba(255, 255, 255, 0)
    }

    50% {
        border-right: 3px solid #ffffff
    }

    100% {
        border-right: 3px solid rgba(255, 255, 255, 0)
    }
}

.mainsec1 > .introduce > h2 {
    margin-left: -500px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    opacity: 0;
    line-height: 80px;
}

.mainsec1 > .bottomCenter {
    position: absolute;
    width: 1492px;
    height: 100px;
    margin: auto;
    bottom: -100px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 6666;
}

.scrollWrap {
    vertical-align: middle;
    margin: auto;
    cursor: pointer;

    position: relative;
}

.scrollWrap > .scroll {
    margin: auto;
    position: relative;
}

.scrollWrap > .scroll > p {
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    line-height: 10px;
}

.scrollWrap > .scroll > .over {
    width: 26px;
    height: 50px;
    border-radius: 35px;
    border: 1px solid #fff;
}

.scrollWrap > .scroll > .over > .circle {
    width: 10px;
    height: 10px;
    position: relative;
    margin-top: 10px;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}

.mainsec1 > .bottomRight {
    position: absolute;
    width: 1492px;
    height: 100px;
    margin: auto;
    bottom: -100px;
    opacity: 0;
    right: 214px;
}

.iconWrap {
    margin-top: 25px;
    right: 0;
    vertical-align: middle;
    height: 100px;
}

.iconWrap > p {
    color: #fff;
    font-weight: 100;
    font-size: 10px;
    margin-top: 10px;
    line-height: 10px;
    text-align: right;
}

.iconWrap > .icons {
    display: flex;
    justify-content: flex-end;
}

.iconWrap > .icons > a {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    overflow: hidden;
}

.iconWrap > .icons > a > img {
    width: 30px;
    height: 30px;
    line-height: 30px;
}




/*--------------mainsec2 (about) start----------------*/
.mainsec2 {
    width: 1492px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.mainsec2 > .mainsec2_intro {
    position: sticky;
    top: 0;
    left: 0;
    margin-top: 150px;
    width: 358px;
}


.mainsec2 > .mainsec2_intro > .mainsec2_intro_img {
    opacity: 0;
    background-color: #BDCCDB;
    width: 358px;
    height: 493px;
    overflow: hidden;
    position: relative;
}

.mainsec2 > .mainsec2_intro > .mainsec2_intro_img > img {
    position: absolute;

}

.mainsec2 > .mainsec2_intro > .mainsec2_intro_img > img:first-child {
    mix-blend-mode: color-burn;
    width: 512px;
    height: 630px;
    top: -68px;
    left: -25px;
    opacity: 0;
}

.mainsec2 > .mainsec2_intro > .mainsec2_intro_img > img:nth-child(2) {
    width: 348px;
    height: 472px;
    top: 21px;
    left: -100px;
    opacity: 0;
}

.mainsec2 > .mainsec2_intro > .mainsec2_intro_txt {
    opacity: 0;
    width: 358px;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.mainsec2 > .mainsec2_intro > .mainsec2_intro_txt > b {
    font-weight: 500;
    color: #8BA6C0;
}

.mainsec2 > .mainsec2_intro > .mainsec2_intro_txt > p {
    font-weight: 300;
    color: #6E6E6E;
}

.mainsec2  .mainsec2_btnwrap {
    display: flex;
    justify-content: flex-end;
}

.mainsec2  .mainsec2_btnwrap > div {
    width: 232px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #8BA6C0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
    outline: none;
    text-align: center;
    line-height: 50px;
}
.mainsec2  .mainsec2_btnwrap > div:hover{
    background-color: rgba(139, 166, 192, 0.37);
    font-weight: 700;
}

.mainsec2  .mainsec2_btnwrap > .resume{
    margin-left: 20px;
}
.mainsec2_intro2 {
    position: relative;
}

.mainsec2_intro2 > .mainsec2_intro2_first {
    text-align: right;
    margin-top: 250px;
    margin-bottom: 50px;
}

.mainsec2_intro2 > .mainsec2_intro2_first > h2 {
    font-size: 60px;
    font-weight: 700;
    color: #8ba6c0;
    position: relative;
    bottom: -300px;
    opacity: 0;
}

.mainsec2_intro2 > .mainsec2_intro2_first > p {
    font-weight: 300;
    font-size: 18px;
    color: #6e6e6e;
    margin-top: 46px;
    position: relative;
    opacity: 0;
    bottom: -300px;
}
.mainsec2_intro2 > .mainsec2_intro2_first >p>b {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}



.mainsec2_intro3 {
    width: 1492px;
    margin: auto;
    margin-top: 200px;
}

.mainsec2_intro3 > .detail {
    margin-left: 862px;
    margin-bottom: 80px;

}

.mainsec2_intro3 > .detail > h4::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 19px;
    background-color: #8ba6c0;
    margin-right: 17px;
}

.mainsec2_intro3 > .detail > h4 {
    position: relative;
    left: -500px;
    font-size: 25px;
    font-weight: 500;
    color: #8ba6c0;
    opacity: 0;
}

.mainsec2_intro3 > .detail > .discript {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.discript_l {
    position: relative;
    font-weight: 300;
    font-size: 18px;
    color: #6e6e6e;
    width: 232px;
    
}
.discript_l>p{
    position: relative;
    bottom: -50px;
    opacity: 0;
}


.discript_r > p {
    font-weight: 500;
    font-size: 18px;
    color: #6e6e6e;
    position: relative;
    bottom: -50px;
    opacity: 0;
}

.discript_r > small {
    font-weight: 300;
    font-size: 15px;
    color: #6e6e6e;
    position: relative;
    bottom: -50px;
    opacity: 0;
}

.education > .discript > .discript_l > p:first-child {
    margin-bottom: 50px;
}

.education > .discript > .discript_l > p:nth-child(2) {
    margin-bottom: 72px;
}

.education > .discript > .discript_r > small {
    display: block;
}

.education > .discript > .discript_r > small:first-child {
    margin-bottom: 30px;
}

.education > .discript > .discript_r > .smalmb {
    margin-bottom: 30px;
}

.license > .discript > .discript_l > p {
    margin-bottom: 30px;
}

.license > .discript > .discript_l > p:last-child {
    margin-bottom: 0;
}

.license > .discript > .discript_r > p {
    margin-bottom: 30px;
}

.license > .discript > .discript_r > p:last-child {
    margin-bottom: 0;
}




.skills > .discript > .discript_l > p:first-child {
    margin-bottom: 222px;
}

.skills > .discript > .discript_l > p:nth-child(2) {
    margin-bottom: 85px;
}

.skills > .discript > .discript_r > p {
    font-size: 15px;
    margin-bottom: 10px;
}

.skills > .discript > .discript_r > .underbar {
    width: 358px;
    height: 8px;
    background-color: #E6E6E6;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.skills > .discript > .discript_r > .overbar {
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #8ba6c0;
    border-radius: 5px;
    margin-top: -29px;
}




/*--------------mainsec3 (projects) start----------------*/
.mainsec3 {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 110px;
    overflow: hidden;
}

.mainsec3 > article {
    width: 1492px;
    height: 500px;
    margin: auto;
    margin-top: 70px;
    overflow: hidden;
}

.mainsec3 > .title {
    width: 1492px;
    margin: auto;
    position: relative;
    left: -500px;
    opacity: 0;
}

.mainsec3 > .title > h2 {
    width: 378px;
    font-size: 60px;
    font-weight: 500;
    color: #8ba6c0;
    display: inline-block;
}

.mainsec3 > .title > p {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
}

.mainsec3 .swiper-wrapper {
    margin: auto;
}

.mainsec3 .swiper-wrapper > .swiper-slide > img {
    width: 100%;
}



.swiper-button-next {
    --swiper-theme-color: #6e6e6e;
    right: 5%;
    margin-top: -100px;
}

.swiper-button-prev {
    --swiper-theme-color: #6e6e6e;
    left: 5%;
    margin-top: -100px;
}





.vipsHover {
    width: 1492px;
    height: 500px;
    position: absolute;
    bottom: -501px;
    opacity: 0;
    background-color: #212121;
}

.vipsHoverLogo {
    width: 167px;
    margin: auto;
    position: relative;
    margin-top: 200px;
}

.vipsHoverLine {
    width: 1240px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.vipsHoverTxt {
    width: 1240px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.vipsHoverTxt > .left > b {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
}

.vipsHoverTxt > .right > p {
    font-weight: 100;
    font-size: 15px;
    line-height: 30px;
    margin-right: 750px;
}




.seomunHover {
    width: 1492px;
    height: 500px;
    position: absolute;
    bottom: -501px;
    opacity: 0;
    background-color: #091740;
}

.seomunHoverLogo {
    width: 200px;
    margin: auto;
    position: relative;
    margin-top: 200px;
}

.seomunHoverLine {
    width: 1240px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.seomunHoverTxt {
    width: 1240px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.seomunHoverTxt > .left > b {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
}

.seomunHoverTxt > .right > p {
    font-weight: 100;
    font-size: 15px;
    line-height: 30px;
    margin-right: 750px;
}



.btnArrow {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}




/*--------------mainsec4 (works) start----------------*/
.mainsec4 {
    width: 100%;
    overflow: hidden;
    margin-top: 110px;
}

.mainsec4 > article {
    width: 1492px;
    margin: auto;
}

.mainsec4 > article > h2 {
    width: 378px;
    font-size: 60px;
    font-weight: 500;
    color: #8ba6c0;
    display: inline-block;
    position: relative;
    left: -500px;
    opacity: 0;
}

.mainsec4 > article > p {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
    position: relative;
    left: -1000px;
    opacity: 0;
}

.mainsec4 > article > div {
    display: flex;
    justify-content: space-between;
    width: 1492px;
    margin-top: 70px;
}

.mainsec4 > article > div > div {
    width: calc(25% - 20px);
    height: 450px;
    background-color: #e6e6e6;
    overflow: hidden;
    text-align: center;
    position: relative;
    bottom: -600px;
    opacity: 0;
    cursor: pointer;
}



/*--------------mainse5 (contact) start----------------*/
.mainsec5 {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.mainsec5 > article:first-child {
    width: 1492px;
    margin: auto;
}

.mainsec5 > article > h2 {
    width: 378px;
    font-size: 60px;
    font-weight: 500;
    color: #8ba6c0;
    display: inline-block;
    position: relative;
    left: -500px;
    opacity: 0;
}

.mainsec5 > article > p {
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
    position: relative;
    left: -500px;
    opacity: 0;
}

.mainsec5 > article > .content {
    margin-left: 378px;
    margin-top: 70px;
    position: relative;
    bottom: -500px;
    opacity: 0;
}
.content > form{
    width: 484px;
}


.content > form > p > label {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
    margin-bottom: 20px;
}

.content > form > p > input {
    width: 484px;
    height: 35px;
    border: 1px solid #8BA6C0;
    border-radius: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px;
}

.content > form > p > .text {
    height: 150px;
    margin-bottom: 75px;
    width: 484px;
    border: 1px solid #8BA6C0;
    border-radius: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #6e6e6e;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px;
}

.content > form > .submit {
    width: 232px;
    height: 58px;
    margin: auto;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #8BA6C0;
    border-radius: 20px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 700;
    color: #6e6e6e;
    outline: none;
    margin-left: 126px;

}
.sent-notification{
    text-align: center;
    color: #8BA6C0;
    font-weight: 500;
    font-size: 18px;
}

.mainsec5 > .right {
    position: absolute;
    right: -500px;
    margin-top: 200px;
    display: flex;
    opacity: 0;
}

.mainsec5 > .right > .contactLabel {
    font-size: 15px;
    font-weight: 300;
    color: #6e6e6e;
    width: 126px;
    line-height: 50px;
}

.mainsec5 > .right > .contactLabel > .memo {
    width: 484px;
    line-height: 20px;
}

.mainsec5 > .right > .contactLabel > .memo > small {
    font-size: 12px;
    line-height: 20px;
}

.mainsec5 > .right > .contactValue {
    font-size: 15px;
    font-weight: 500;
    color: #6e6e6e;
    line-height: 50px;
}




/*--------------main end----------------*/







/*************************1492px 이하*****************************/
@media only screen and (max-width: 1492px) {
    .mainsec1 > .introduce {
        width: 100%;
        padding: 0 102px;
    }

    .mainsec1 > .bottomCenter {
        width: 100%;
    }

    .mainsec1 > .bottomRight {
        width: 100%;
        right: 102px;
    }

    .mainsec2 {
        width: 100%;
        padding: 0 102px;
    }

    .mainsec2_intro2 > .mainsec2_intro2_first > h2 {
        font-size: 48px;
    }

    .mainsec2_intro3 {
        width: 100%;
    }

    .mainsec2_intro3 > .detail {
        margin-left: 654px;

    }

    .discript_l {
        width: 327px;
    }

    .discript_r {
        width: 306px;
    }

    .skills > .discript > .discript_r > .underbar {
        width: 306px;
    }

    .skills > .discript > .discript_r > .overbar {
        width: 290px;
    }

    .mainsec3 > .title {
        width: 100%;
        padding: 0 102px;
    }

    .mainsec3 > article {
        width: 100%;
        padding: 0 102px;
    }

    .mainsec3 .swiper-wrapper {
        width: 100%;
    }

    .mainsec3 .swiper-wrapper > .swiper-slide > img {
        width: 100%;
    }

    .mainsec4 > article {
        width: 100%;
        padding: 0 102px;
    }

    .mainsec5 > article {
        width: 100%;
        padding: 0 102px;
    }


}
